.google {
    height: 300px;
    width: 500px;
    margin-left: 350px;
    float: left;
    top: 50px;
    margin-top: -1px;
    /* padding: 50px; */
}

.home_container {
    margin-left: 100px;
    margin-top: 120px;
}

.form input {
    height: 46px;
    width: 500px;
    border: 3px solid rgb(131, 115, 115);
    border-radius: 14px;
    outline: none;
    font-size: 18px;
    margin-top: 200px;
    left: 200px;
    margin-left: -500px;
}

.fa {
    /* position: absolute; */
    /* margin-bottom: 300px; */
    left: 30px;
    top: 100px;
    font-size: 25px;
    /* float: right; */
    color: #9aa0a6;
}

.mic {
    font-size: 20px;
    /* float: right; */
    right: 100px;
}

.data {
    width: 700px;
    margin-top: 40px;
    height: 200px;
    background-color: green;
    color: white;
    margin-left: 330px;
}