.home {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.home .home-header {
    justify-content: space-between;
    display: flex;
}

.home .home-header .home-left {
    display: flex;
    text-align: center;
    margin-left: 10px;
}


/* .home .home-header .home-left, */

.home-left,
.home-right,
a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin-right: 20px;
}

.home .home-header .home-right {
    display: flex;
    text-align: center;
}

.home .home-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.home .home-body img {
    margin-left: 40%;
    object-fit: contain;
    height: 100px;
}