.input-data {
    display: flex;
    align-items: center;
    border: 1px solid rgb(42, 41, 41);
    height: 3vh;
    padding: 15px 10px;
    width: 30vw;
    margin-top: 1%;
    margin: 0px auto;
    border-radius: 25px;
}

.input-data input {
    font-size: medium;
    flex: 1;
    padding: 2%;
    outline: 0;
    border: none;
    background: none;
}

.mic {
    color: white;
}

.input-data .search-icon {
    color: white;
}

.search-btn {
    margin-top: 1%;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.search-btn Button {
    background: #dbd5d5 !important;
    color: black;
    border: 1px solid #8d8787;
    outline: none;
    text-transform: inherit;
    margin: 1%;
}

.search-btn Button:hover {
    border: 1px solid rgb(136, 139, 136);
}

input {
    background-color: none;
}